header{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-block: 4rem;
}
h1{
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: x-large;
    margin-inline: 4rem;
    cursor: default;
}
a{
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: medium;
    cursor: pointer;
}
span{
    text-decoration: underline;
}
.booking-cards-container{
    border: 1px solid gray;
    border-radius: 2rem;
    width: 90%;
    margin-inline: auto;
    padding: 2%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}