<form class="form-container" [ngClass]="{ 'submitting': isSubmitting }" (ngSubmit)="onSubmit()">
    <input [disabled]="isSubmitting" required="true" placeholder="Nome" [(ngModel)]="user.name" name="name" />
    <input [disabled]="isSubmitting" required="true" placeholder="Email" [(ngModel)]="user.email" name="email" />
    <input [disabled]="isSubmitting" required="true" placeholder="Número de telefone" [(ngModel)]="user.phoneNumber" name="phoneNumber" />
    <button [disabled]="isSubmitting" type="submit">Cadastrar</button>
</form>